.modal_certificates {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(30,30,30,0.86);
	z-index: 9999;
	color: #ccc;
}

.modal_certificates.active {
	display: block;
}

.modal_slider {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.modal_slider_track {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: transform 0.3s ease;
}

.modal_slider_item {
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
}

.ov_counter {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 44px;
	width: 44px;
	top: 5px;
	left: 10px;
	font-size: 16px;
	-webkit-user-select: none;
	pointer-events: none;
	letter-spacing: 5px;
}

.zoom_btn,
.close_btn,
.arrow_left,
.arrow_right {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: transparent;
	width: 44px;
	height: 44px;
}

.zoom_btn {
	top: 5px;
	right: 44px;
}

.close_btn {
	top: 5px;
	right: 0;
}

.arrow_left {
	left: 0;
	top: 50%;
	z-index: 20;
}

.arrow_right {
	right: 0;
	top: 50%;
}

.modal_certificates button svg {
	width: 28px;
	height: 28px;
	stroke: var(--second-primary-color);
	fill: none;
	stroke-width: 2;
}

.modal_img {
	width: clamp(200px, 80vw, 358px);
	aspect-ratio: 358 / 507;
	height: auto;
	transition: transform 0.3s ease;
}













