.reviews {
	background: url('../img/reviews/bg.jpg');
	background-size: cover;
}

.reviews_slick {
	top: calc(100% - 200px);
	position: absolute;
	z-index: 10;
}

.reviews_slick.prev {
	left: 10px;
}

.reviews_slick.next {
	right: 10px;
}

.reviews_slick.disabled {
	opacity: 0.3;
	pointer-events: none;
	cursor: default;
}

.reviews_slider {
	position: relative;
}

.reviews_slider.dragging {
	cursor: grab;
}

.reviews_item {
	display: flex;
	justify-content: space-around;
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 0;
	justify-items: center;
	padding: 30px;
}

.reviews_msg {
	position: relative;
	display: flex;
	width: clamp(300px, 25vw, 340px);
	height: auto;
	background-color: var(--second-primary-color);
	font-size: clamp(13px, 1.5vw, 16px);
	text-align: justify;
	padding: clamp(15px, 4vw, 25px);
}

.reviews_msg::before {
	position: absolute;
	content: '';
	width: 60px;
	height: 60px;
	top: -30px;
	left: -30px;
	border-radius: 50%;
	background-image: url('../img/reviews/coma.png');
	background-color: var(--color-primary);
	background-repeat: no-repeat;
	background-position: center;
}

.reviews_author {
	display: flex;
	flex-direction: column;
}

.reviews_photo {
	width: clamp(150px, 13vw, 170px);
	height: auto;
	aspect-ratio: 170 / 250;
	border: 4px solid #fff;
	background-size: cover;
	background-position: top center;
	margin: 0 0 20px 20px;
	transition: border-color 0.3s ease;
}

.reviews_item:hover .reviews_photo {
	border-color: var(--color-primary);
}

.reviews_photo_1 {
	background-image: url('../img/reviews/photo1.png');
}

.reviews_photo_2 {
	background-image: url('../img/reviews/photo2.png');
}

.reviews_photo_3 {
	background-image: url('../img/reviews/photo3.png');
}

.reviews_photo_4 {
	background-image: url('../img/reviews/photo4.png');
}

.reviews_name {
	font-size: 18px;
	font-family: 'Proxima Nova Bold', sans-serif;
	text-transform: uppercase;
	color: #343434;
	margin: 0 0 0 20px;
}

@media (width <= 1160px) {
	.reviews_item {
		justify-content: center;
		flex-basis: 100%;
	}

	.reviews_msg {
		width: clamp(300px, 45vw, 400px);
	}

	.reviews_photo {
		width: 180px;
	}

	.reviews_name {
		text-align: center;
	}

}

@media (width <= 630px) {

	.reviews_slick {
		top: calc(100% - 260px);
	}

	.reviews_item {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		padding: 0;
		gap: 25px;
	}

	.reviews_msg {
		width: clamp(190px, 70vw, 340px);
		height: auto;
		align-items: center;
	}

	.reviews_msg::before {
		display: none;
	}

	.reviews_photo {
		height: 190px;
		margin: 0 0 20px 0;
	}

	.reviews_photo_1,
	.reviews_photo_3 {
		background-position-y: 240px;
	}

	.reviews_name {
		margin: 0;
	}

}