*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNovaRegular.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/ProximaNovaBold.woff') format('woff');
}

:root {
	--color-primary: #ffc501;
	--second-primary-color: #fff;
	--third-primary-color: #000;
	--background-color-form: #171717;
	--background-color-footer: #343434;
}

html {
	font-size: clamp(6px, calc(8px + 0.5vw), 16px);
	line-height: 1.15;
	font-family: 'Proxima Nova', sans-serif;
	min-width: 320px;
	interpolate-size: allow-keywords;
	scrollbar-width: none;
}

body {
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

button {
	padding: 0;
	border: none;
}

p,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
}

/* Кнопки */

.btn {
	position: relative;
	display: flex;
	width: max-content;
	height: clamp(43px, 5vw, 58px);
	background-color: var(--third-primary-color);
	text-transform: uppercase;
	text-align: center;
	color: var(--second-primary-color);
	font-family: 'Proxima Nova Bold', sans-serif;
	cursor: pointer;
}

.btn::before{
	position: absolute;
	content: '';
	left: 4px;
	border: 2px solid var(--color-primary);
	transform: rotate(-2deg);
	transition: transform 0.3s ease;
	width: 98%;
	height: 102%;
}

.btn_span {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: clamp(12px, 1.2rem, 16px);
	letter-spacing: 2px;
	background-color: var(--color-primary);
	transition: all 0.3s ease;
	padding: 0 20px;
}

.btn:hover .btn_span {
	color: var(--color-primary);
	background-color: var(--third-primary-color);
}

.btn:hover::before {
	transform: rotate(-4deg);
}

/* Форма к модальному окну, к блоку offer offer_second*/

.modal_item {
	position: relative;
	margin: 0 0 1.2rem 0;
	width: 85%;
}

.modal_item_input {
	width: 100%;
	height: 50px;
	padding: 0 40px 0 10px;
	border: 1px solid var(--second-primary-color);
	font-size: clamp(12px, 3.8vw, 16px);
	background-color: #292929;
	color: var(--second-primary-color);
	transition: all 0.5s ease;
	cursor: pointer;
}

.modal_item_input::placeholder {
	color: var(--second-primary-color);
	opacity: 0.9;
}

.modal_item_input:focus,
.modal_item_input:active {
	border-color: var(--color-primary);
}

.modal_item_icon {
	position: absolute;
	top: 12px;
	right: 8px;
}

.modal_item_input:focus +.modal_item_icon,
.modal_item_input:active +.modal_item_icon {
	color: var(--color-primary);
}

.modal_agree {
	position: relative;
	margin: 0 auto 1.9rem;
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2px;
	padding: 0 1rem;
}

.modal_agree_checkbox {
	margin: 0 0 2px 0;
}

.modal_agree_underline {
	text-decoration: underline;
	cursor: help;
}

.modal_agree_tooltip {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
	color: var(--third-primary-color);
	background: var(--second-primary-color);
	font-size: 12px;
	border-radius: 6px;
	padding: 10px;
	margin: 0 10px;
	text-align: justify;
	line-height: 1.2;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.modal_agree_tooltip::before {
	content:'';
	display: block;
	position: absolute;
	border: 6px solid transparent;
	border-top-color: var(--second-primary-color);
	bottom: -12px;
	right: 50px;
}

.modal_agree_underline:hover+.modal_agree_tooltip {
	opacity: 1;
}

/* Общие стили */

.brand {
	display: flex;
	align-items: center;
	width: 200px;
	height: 55px;
	margin: 0 10px;
}

.brand_logo {
	height: 25px;
	background: url('../img/header/logo.png') no-repeat;
}

.brand_slogan {
	font-size: 14.9px;
	line-height: 1.5;
	color: var(--second-primary-color);
}

.section {
	padding: 3.125rem 0;
}

.section_header {
	position: relative;
	font-size: clamp(22px, 4vw, 48px);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Proxima Nova Bold', sans-serif;
	text-align: center;
	font-weight: normal;
	margin: 3.5rem 0;
}

.section_header::before {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: clamp(30px, 2vw, 40px);
	top: -3.7rem;
	left: calc(50% - 2px);
	background-color: var(--color-primary);
}

.items_header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Proxima Nova Bold', sans-serif;
	font-weight: normal;
	font-size: clamp(14px, 4vw, 32px);
	text-transform: uppercase;
	z-index: 1;
	height: 200px;
}

.items_header::before {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 30px);
	content: '';
	width: 60px;
	height: 100px;
	border: 4px solid var(--color-primary);
	z-index: -1;
	transition: all 0.3s ease;
}

.items_header:hover::before {
	transform: rotate(45deg);
	width: 100px;
	left: calc(50% - 50px);
}

.slider_section {
	display: flex;
	cursor: default;
	max-width: 1197px;
	overflow-x: auto;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	margin: 0 auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slider_section::-webkit-scrollbar {
	display: none;
}

.slick-arrow {
	position: absolute;
	width: 30px;
	height: 35px;
	cursor: pointer;
	border: 1px solid var(--second-primary-color);
	transition: color, background-color 0.3s ease;
	background-color: #505050;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 13px 23px;
}

.slider_certificates:hover,
.reviews_slick:hover {
	background-color: var(--color-primary);
}

.prev {
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z\'%20fill%3D\'%23ffffff\'%2F%3E%3C%2Fsvg%3E');
}

.next {
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z\'%20fill%3D\'%23ffffff\'%2F%3E%3C%2Fsvg%3E');
}

@media (width <= 1220px) {
	.slider_section {
		margin: 0;
	}
}

@media (width <= 800px) {
	.btn_span {
		padding: 0 15px;
	}
}

@media (width <= 770px) {
	.section_header {
		margin: 0 0 2.5rem 0;
	}

	.section_header::before {
		display: none;
	}
}

@media (width <= 600px) {
	.items_header::before {
		display: none;
	}
}
