*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNovaRegular.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/ProximaNovaBold.woff') format('woff');
}

:root {
	--color-primary: #ffc501;
	--second-primary-color: #fff;
	--third-primary-color: #000;
	--background-color-form: #171717;
}

html {
	font-size: clamp(6px, calc(8px + 0.5vw), 16px);
	line-height: 1.15;
}

body {
	font-family: 'Proxima Nova', sans-serif;
	margin: 0;
	min-width: 320px;
	overflow-x: hidden;
	interpolate-size: allow-keywords;
}

a {
	text-decoration: none;
}

button {
	padding: 0;
	border: none;
}

p {
	margin: 0;
}

/* Первый блок */

.first {
	position: relative;
	text-align: center;
}

.first_bg {
	position: absolute;
	inset: 0;
	z-index: -1;
	background: url('../img/header/bg.jpg') center;
	background-size: cover;
}

.first_bg:after {
	position: absolute;
	content: '';
	inset: 0;
	background-color: rgba(0, 0, 0, 0.86);
}

.first_bg_video {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.first_bg_lamps {
	position: relative;
	width: 1920px;
	height: 100%;
	left: calc(50% - 960px);
	z-index: 1;
}

.first_bg_lamp1 {
	position: absolute;
	width: 109px;
	height: 603px;
	left: 195px;
	background-image: url('../img/header/lamp1.png');
}

.first_bg_lamp2 {
	position: absolute;
	top: -70px;
	width: 327px;
	height: 866px;
	left: 230px;
	background-image: url('../img/header/lamp2.png');
}

.first_bg_lamp3 {
	position: absolute;
	width: 278px;
	height: 476px;
	left: 355px;
	background-image: url('../img/header/lamp3.png');
}

.first_bg_lamp4 {
	position: absolute;
	width: 93px;
	height: 403px;
	right: 475px;
	background-image: url('../img/header/lamp4.png');
}

.first_bg_lamp5 {
	position: absolute;
	width: 286px;
	height: 798px;
	right: 335px;
	background-image: url('../img/header/lamp5.png');
}

.first_bg_lamp6 {
	position: absolute;
	width: 317px;
	height: 692px;
	right: 138px;
	background-image: url('../img/header/lamp6.png');
	animation: lamp6pendulum 14s ease infinite;
}

.header {
	height: clamp(79px, 11vw, 100px);
	background-color: rgba(0,0,0,0.5);
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
}

.header_container.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 500;
	height: 100%;
}

.brand {
	display: flex;
	align-items: center;
	width: 200px;
	height: 55px;
	margin: 0 10px;
}

.brand_logo {
	height: 25px;
	background: url('../img/header/logo.png') no-repeat;
}

.brand_slogan {
	font-size: 14.9px;
	line-height: 1.5;
	color: var(--second-primary-color);
}

.phone {
	width: 200px;
	height: 55px;
	margin: 0 10px;
}

.tel {
	font-size: 24px;
	font-family: 'Proxima Nova Bold', sans-serif;
	color: var(--second-primary-color);
}

.tel:hover .tel_icon {
	transform: rotate(-20deg);
}

.tel_icon {
	position: relative;
	top: 5px;
	right: 4px;
	color: var(--color-primary);
	transition: all 0.3s ease;
}

.tel_subtitle {
	position: relative;
	display: inline-block;
	height: 25px;
	font-size: 16px;
	line-height: 1.2;
	color: var(--color-primary);
	transition: all 0.3s ease;
}

.tel_subtitle::after {
	position: absolute;
	content: '';
	width: calc(100% - 2px);
	height: 1px;
	left: 1px;
	bottom: 2px;
	background-color: var(--color-primary);
	transition: all 0.3s ease;
}

.tel_subtitle:hover::after {
	width: 0;
}

.nav {
	position: relative;
	z-index: 10;
	background-color: var(--color-primary);
}

.burger_container {
	display: none;
}

.nav_item_container {
	background-color: var(--color-primary);
	z-index: 10;
}

.nav_item_position {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: clamp(43px, 5vw, 58px);
}

.nav_item {
	position: relative;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: var(--third-primary-color);
	font-size: clamp(13px, 1.4vw, 16px);
	height: 100%;
	padding: 0 0.6rem;
}

.decor_line {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6px;
	height: 16px;
	transition: all 0.3s ease;
	background-color: transparent;
}

.decor_line::after {
	content: '';
	display: block;
	width: 1px;
	height: 16px;
	background-color: var(--second-primary-color);
	transition: all 0.3s ease;
}

.nav_item:hover + .decor_line::after {
	width: 6px;
	height: 6px;
	background-color: var(--third-primary-color);
}

.product_info {
	position: relative;
	z-index: 2;
	color: var(--second-primary-color);
	font-family: 'Proxima Nova Bold', serif;
}

.product_container {
	aspect-ratio: 14/7;
}

.product {
	font-size: clamp(18px, 5vw, 56px);
	color: var(--color-primary);
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}

.product_subtitle {
	position: relative;
	margin: 0 0 3.5rem 0;
	font-size: clamp(15px, 4vw, 45px);
}

.product_subtitle::after {
	position: absolute;
	left: 50%;
	bottom: -2rem;
	margin: 0 0 0 -33px;
	content: '';
	display: block;
	width: 66px;
	height: 3px;
	background-color: var(--color-primary);
}

.product_text {
	margin: 0 0 2rem 0;
	font-size: clamp(15px, 4vw, 40px);
	font-family: 'Proxima Nova', sans-serif;
}

.emphasis {
	color: var(--color-primary);
}

.btn {
	position: relative;
	margin: 0 auto 10px;
	display: flex;
	width: max-content;
	height: clamp(43px, 5vw, 58px);
	background-color: var(--third-primary-color);
	text-transform: uppercase;
	text-align: center;
	color: var(--second-primary-color);
	font-family: 'Proxima Nova Bold', sans-serif;
	cursor: pointer;
}

.btn::before{
	position: absolute;
	content: '';
	left: 4px;
	border: 2px solid var(--color-primary);
	transform: rotate(-2deg);
	transition: all 0.3s ease;
	width: 98%;
	height: 102%;
}

.btn_span {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 20px;
	font-size: clamp(12px, 1.2rem, 16px);
	letter-spacing: 2px;
	background-color: var(--color-primary);
	transition: all 0.3s ease;
}

.btn:hover .btn_span {
	color: var(--color-primary);
	background-color: var(--third-primary-color);
}

.btn:hover::before {
	transform: rotate(-4deg);
}

.advantages {
	position: relative;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
}

.slider_nav {
	position: absolute;
	top: calc(50% - 2px);
	transform: translateY(-50%);
	width: 30px;
	height: 35px;
	z-index: 1;
	cursor: pointer;
	border: 1px solid var(--second-primary-color);
	transition: all 0.3s ease;
	background: var(--third-primary-color) no-repeat center;
	background-size: 13px 23px;
}

.prev {
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z\'%20fill%3D\'%23ffffff\'%2F%3E%3C%2Fsvg%3E');
}

.next {
	right: 15px;
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z\'%20fill%3D\'%23ffffff\'%2F%3E%3C%2Fsvg%3E');
}

.advantages_slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	margin: 0 35px;
	color: var(--second-primary-color);
	text-align: left;
	cursor: default;
	-webkit-user-select: none;
	padding: 15px 0;
	scrollbar-width: none;
}

.advantage_item {
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'icon text';
	scroll-snap-align: start;
	flex-basis: 25%;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0 10px;
}

.advantage_item_guarantee {
	grid-template-columns: 50px;
	justify-content: end;
	padding: 0;
}

.advantage_icon {
	grid-area: icon;
	background: no-repeat center;
	transition: all 0.3s ease;
	filter: grayscale(100%) brightness(130%);
}

.advantage_text {
	grid-area: text;
	display: flex;
	grid-template-rows: auto auto;
	flex-wrap: wrap;
	align-content: flex-start;
	margin: 0 0 0 10px;
}

.advantage_item:hover .advantage_icon {
	filter: grayscale(0%) brightness(100%);
}

.advantage_icon_1 {
	background-image: url('../img/icons/1.png');
}

.advantage_icon_2 {
	background-image: url('../img/icons/2.png');
}

.advantage_icon_3 {
	background-image: url('../img/icons/3.png');
}

.advantage_icon_4 {
	background-image: url('../img/icons/4.png');
}

.advantage_icon_5 {
	background-image: url('../img/icons/5.png');
}

.advantage_icon_6 {
	background-image: url('../img/icons/6.png');
}

.advantage_icon_7 {
	background-image: url('../img/icons/7.png');
}

.advantage_icon_8 {
	background-image: url('../img/icons/8.png');
}

.advantage_header {
	grid-area: header;
	margin: 0 0 12px;
	font-size: 16px;
	font-family: 'Proxima Nova Bold', sans-serif;
	text-transform: uppercase;
	transition: all 0.3s ease;
	width: 100%;
}

.advantage_item:hover .advantage_header {
	color: var(--color-primary);
}

.advantage_desc {
	font-size: 13px;
	padding: 0 10px 0 0;
}

/* Модальное окно*/

.dialog,
.dialog_calculator {
	position: fixed;
	top: 20%;
	margin: 0 auto;
	border: 0;
	color: var(--second-primary-color);
	padding: 0 0 0 100px;
	background: transparent;
	cursor: grab;
}

.dialog::before {
	position: absolute;
	display: block;
	content: '';
	width: 224px;
	height: 409px;
	left: 0;
	bottom: 0;
	top: 20px;
	z-index: -1;
	background: url('../img/header/offer-lamp.png') no-repeat;
}

.dialog::backdrop,
.dialog_calculator::backdrop {
	background-color: rgba(0, 0, 0, 0.86)
}

.modal_content {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 460px;
	width: 480px;
	border: 10px solid #5e5c5a;
	background-color: var(--background-color-form);
}

.modal_close {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 0;
	right: 0;
	background: transparent;
	cursor: pointer;
	opacity: 0.8;
	color: var(--second-primary-color);
	padding: 6px;
}

.modal_close svg {
	opacity: 0.8;
	stroke: currentColor;
	stroke-width: 1.5;
	transition: stroke 0.1s;
}

.modal_header {
	margin: 0 0 1.9rem 0;
	font-size: 28px;
	font-family: 'Proxima Nova Bold', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.modal_header::after {
	display: block;
	content:'';
	width: 40px;
	height: 3px;
	margin: 10px auto 0;
	background-color: var(--color-primary);
}

.form_modal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_item {
	position: relative;
	margin: 0 0 1.2rem 0;
	width: 85%;
}

.form_item_input {
	width: 100%;
	height: 50px;
	padding: 0 40px 0 10px;
	border: 1px solid var(--second-primary-color);
	font-size: 16px;
	background-color: #292929;
	color: var(--second-primary-color);
	transition: all 0.5s ease;
	cursor: pointer;
}

.form_item_input::placeholder {
	color: var(--second-primary-color);
	opacity: 0.9;
}

.form_item_input:focus,
.form_item_input:active {
	border-color: var(--color-primary);
}

.form_item_icon {
	position: absolute;
	top: 12px;
	right: 8px;
}

.form_item_input:focus +.form_item_icon,
.form_item_input:active +.form_item_icon {
	color: var(--color-primary);
}

.form_agree {
	position: relative;
	margin: 0 auto 1.9rem;
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2px;
	padding: 0 1rem;
}

.form_agree_checkbox {
	margin: 0 0 2px 0;
}

.form_agree_underline {
	text-decoration: underline;
	cursor: help;
}

.form_agree_tooltip {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
	color: var(--third-primary-color);
	background: var(--second-primary-color);
	font-size: 12px;
	border-radius: 6px;
	padding: 10px;
	text-align: justify;
	line-height: 1.2;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
}

.form_agree_tooltip::before {
	content:'';
	display: block;
	position: absolute;
	border: 6px solid transparent;
	border-top-color: var(--second-primary-color);
	bottom: -12px;
	right: 50px;
}

.form_agree_underline:hover+.form_agree_tooltip {
	opacity: 1;
}

.scroll-block {
	overflow: hidden;
}

/* Второй блок */

.offer {
	padding: 3.125rem 0;
}

.offer_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 1;
}

.offer_left {
	flex-basis: 580px;
	align-content: center;
	height: 345px;
	padding: 0 5rem;
	border: 4px solid var(--color-primary);
	z-index: -1;
	align-self: center;
}

.offer_left_header {
	position: relative;
	margin: 0 0 1.875rem 0;
	font-size: clamp(26px, 1.8rem, 28px);
	font-family: 'Proxima Nova Bold', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: normal;
}

.offer_left_header::before {
	position: absolute;
	content: '';
	width: 50px;
	height: 1px;
	top: 6px;
	left: -65px;
	background-color: var(--third-primary-color);
}

.offer_left_text {
	position: relative;
	padding: 0 0 0 4.5rem;
	font-size: clamp(14px, 1rem, 16px);
}

.offer_left_text::before {
	position: absolute;
	content: '';
	width: 45px;
	height: 4px;
	top: 5px;
	left: 0;
	background-color: var(--color-primary);
}

.offer_right {
	position: relative;
	display: flex;
	align-items: center;
	height: 455px;
	width: 500px;
	background-color: var(--background-color-form);
}

.offer_right_lamp {
	position: absolute;
	content: '';
	width: 225px;
	height: 410px;
	top: 21px;
	left: -100px;
	z-index: -1;
	background: url(../img/header/offer-lamp.png) center no-repeat;
	background-size: contain;
	transition: all 0.225s ease;
}

.offer_right_lamp:hover {
	transform: rotate(-8deg) translateX(-50px);
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: var(--second-primary-color);
}

.form_item_offer {
	width: 75%;
}

.form_text {
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 16px;
}

.appointed_time {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 75%;
}

.form_item_select {
	position: relative;
	width: 170px;
}

.form_item_input_select {
	-webkit-appearance: none;
	text-shadow: 0 0 0 #fff;
}

.form_item_select::after {
	position: absolute;
	content: '';
	border-width: 5px 4px 0 4px;
	border-style: solid;
	border-color: rgba(217,217,217,0.9) transparent transparent transparent;
	top: 47%;
	right: 16px;
}

/* Третий блок */

.hits,
.delivery_payment {
	padding: 3.125rem 0;
	background: url('../img/hits/bg.jpg') top center no-repeat;
	background-size: cover;
}

.hits_bg_lamp {
	position: absolute;
	background-image: url('../img/hits/lamp.png');
	width: 537px;
	height: 692px;
	bottom: -70px;
	right: -500px;
}

.section_header {
	position: relative;
	font-size: clamp(22px, 4vw, 48px);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Proxima Nova Bold', sans-serif;
	text-align: center;
	font-weight: normal;
	margin: 3.5rem 0;
}

.section_header::before {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: clamp(30px, 2vw, 40px);
	top: -3.7rem;
	left: calc(50% - 2px);
	background-color: var(--color-primary);
}

.filter {
	padding: 0 46px;
	margin: 0 0 2rem 0;
	text-align: left;
}

.filter_label {
	font-size: 18px;
}

.filter_item {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.filter_item::after {
	content: '';
	position: absolute;
	border-width: 5px 4px 0 4px;
	border-style: solid;
	border-color: rgba(0,0,0,0.9) transparent transparent transparent;
	top: 47%;
	right: 11px;
}

.filter_item_input {
	height: 30px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0);
	text-shadow: 0 0 0 #444;
	background-color: #f3f3f3;
	-webkit-appearance: none;
	transition: all 0.225s ease;
	cursor: pointer;
	padding: 0 25px 0 5px;
	border: 2px solid var(--color-primary);
}

.hits_incandescent,
.hits_halogen {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: clamp(1rem, 2vw, 2rem);
	text-align: center;
	font-size: 16px;
	margin: 0 3rem 3.2rem 3rem;
	justify-content: center;
}

.hits_item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--second-primary-color)
}

.hits_item::before {
	display: block;
	content: '';
	position: absolute;
	inset: 5px;
	border: 2px solid var(--color-primary);
	transition: all 0.225s ease;
	opacity: 0;
}

.hits_item:hover:before {
	opacity: 1;
}

.hits_item_img {
	width: 79px;
	height: 157px;
	transition: all 0.225s ease;
	margin: 25px 0 0 0;
}

.hits_item:hover .hits_item_img {
	transform: translateY(-10px);
}

.hits_item_img_1 {
	background-image: url(../img/hits/lamp1.png);
}

.hits_item_img_2 {
	background-image: url('../img/hits/lamp2.png');
}

.hits_item_img_3 {
	background-image: url('../img/hits/lamp3.png')
}

.hits_item_img_4 {
	background-image: url('../img/hits/lamp4.png')
}

.hits_item_img_5 {
	background-image: url('../img/hits/lamp5.png')
}

.hits_item_img_6 {
	background-image: url('../img/hits/lamp6.png')
}

.hits_item_img_7 {
	background-image: url('../img/hits/lamp7.png')
}

.hits_item_img_8 {
	background-image: url('../img/hits/lamp8.png')
}

.hits_item_img_9 {
	background-image: url('../img/hits/lamp9.png')
}

.hits_item_img_10 {
	background-image: url('../img/hits/lamp10.png')
}

.hits_item_price::before,
.hits_item_price::after {
	display: inline-block;
	content: '';
	width: 30px;
	height: 2px;
	margin: 0 10px;
	vertical-align: middle;
	background-color: var(--third-primary-color);
}

.btn_hits {
	height: clamp(30px, 3vw, 40px);
	margin: 20px 0 30px;
}

.btn_hits::before {
	border-color: var(--third-primary-color);
}

.btn_hits:active::before {
	background-color: var(--third-primary-color);
}

.btn_span_hits {
	letter-spacing: 1px;
	background-color: var(--third-primary-color);
	padding: 0 30px;
}

.btn_hits:hover .btn_span_hits,
.btn_hits:focus .btn_span_hits {
	color: var(--second-primary-color);
	background-color: var(--color-primary);
}


/* Четвертый блок */

.calculator {
	padding: 3.125rem 0;
	background: url('../img/calculator/bg-calculator.jpg') top center;
	background-size: cover;
	color: var(--second-primary-color);
}

.calculator_items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 0 3rem 0;
	width: 100%;
}

.calculator_item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: clamp(140px, calc(50% - 20px), 340px);
	text-align: center;
}

.calculator_item_header {
	width: 100%;
}

.items_header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Proxima Nova Bold', sans-serif;
	font-weight: normal;
	font-size: clamp(14px, 4vw, 32px);
	text-transform: uppercase;
	z-index: 1;
	height: 115px;
}

.items_header::before {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 30px);
	content: '';
	width: 60px;
	height: 100px;
	border: 4px solid var(--color-primary);
	z-index: -1;
	transition: all 0.3s ease;
}

.items_header:hover::before {
	transform: rotate(45deg);
	width: 100px;
	left: calc(50% - 50px);
}

.calculator_lamp {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	aspect-ratio: 28 / 26;
	border: 4px solid #aaa;
	background-color: #000;
	margin: 0 0 1.5rem 0;
}

.calculator_lamp::after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.calculator_lamp:hover::after {
	opacity: 1;
	animation: flicker 0.5s infinite alternate;
	animation-delay: 3s;
	animation-fill-mode: backwards;
}

.calculator_lamp_ordinary {
	background: var(--third-primary-color) url('../img/calculator/lamp1.png') no-repeat center;
	background-size: contain;
	background-position-y: -1.8vw;
}

.calculator_lamp_ordinary::after {
	background: var(--third-primary-color) url(../img/calculator/lamp1-on.png) no-repeat center;
	background-size: contain;
	background-position-y: -1.8vw;
}

.calculator_lamp_osram {
	background: var(--third-primary-color) url('../img/calculator/lamp2.png') no-repeat center -0.2vw;
	background-size: contain;
}

.calculator_lamp_osram::after {
	background: var(--third-primary-color) url('../img/calculator/lamp2-on.png') no-repeat center -0.2vw;
	background-size: contain;
}

.calculator_text {
	position: relative;
	font-size: clamp(14px, 3.2vw, 20px);
	color: var(--color-primary);
}

.calculator_text::after {
	position: absolute;
	content: '';
	width: 50px;
	height: 2px;
	background-color: var(--color-primary);
	bottom: -10px;
	left: calc(50% - 25px);
}

.calculator_cost {
	margin: 20px 0;
	font-size: clamp(16px, 4vw, 25px);
	color: var(--second-primary-color);
}

.calculator_value {
	display: inline-block;
	min-width: 5rem;
	text-align: right;
}

.calculator_visual {
	position: relative;
	display: flex;
	align-items: center;
	height: 2px;
	margin: 0 auto;
	width: 0;
	background-color: #383838;
}

.calculator_visual::before,
.calculator_visual::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #aaa;
}

.calculator_visual::before {
	left: 0;
}

.calculator_visual::after {
	right: 0;
}

.calculator_start {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 0 4.5rem 0;
}

.calculator_start_item {
	display: flex;
	justify-content: center;
	flex-basis: 205px;
	width: 33%;
}

.start_btn {
	width: 250px;
	font-size: 24px;
	justify-content: center;
}

.calculator_start_units {
	display: inline-block;
	font-size: 20px;
	line-height: 55px;
	color: var(--second-primary-color);
}

.calculator_switch {
	position: relative;
	width: 60px;
	height: 36px;
	margin: 10px;
	text-align: center;
}

.calculator_switch_checkbox {
	display: none;
}

.calculator_switch_slider {
	position: absolute;
	display: flex;
	align-items: center;
	inset: 0;
	border: 2px solid var(--color-primary);
	border-radius: 35px;
	transition: 0.4s;
	cursor: pointer;
}

.calculator_switch_slider::after {
	position: absolute;
	content: '';
	width: 26px;
	height: 26px;
	left: 2px;
	border-radius: 50%;
	background-color: var(--color-primary);
	transition: 0.3s;
}

.calculator_switch_checkbox:checked + .calculator_switch_slider::after {
	transform: translateX(clamp(16.25px, calc(18.75px + 0.02 * (100vw - 30px)), 26px));
	transition: transform 0.3s ease;
}

.calculator_timeline {
	display: flex;
	position: relative;
	margin: 0 0 60px 1.3rem;
}

.calculator_timeline_part {
	position: relative;
	width: 20%;
	height: 3px;
	background-color: var(--color-primary);
	transition: all 0.3s ease;
	cursor: pointer;
}

.calculator_timeline_part:first-child {
	width: 0;
}

.calculator_timeline_part::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	top: calc(50% - 5px);
	right: 0;
	background: var(--color-primary);
}

.part_active,
.part_active::before {
	background: var(--second-primary-color);
}

.part_active .calculator_timeline_number {
	color: var(--second-primary-color);
}

.calculator_timeline_number {
	position: absolute;
	bottom: -35px;
	right: -1px;
	font-family: 'Proxima Nova Bold', sans-serif;
	color: #aaa;
	font-size: clamp(16px, 3.5vw, 18px);
}

.calculator_total {
	text-align: center;
	font-family: 'Proxima Nova Bold', sans-serif;
	display: none;
}

.calculator_total_text {
	text-transform: uppercase;
	font-size: clamp(16px, 3.5vw, 24px);
	color: var(--color-primary);
	margin: 0 0 10px 0;
}

.calculator_total_text_white {
	color: var(--second-primary-color);
}

.calculator_total_text_value {
	font-size: clamp(16px, 4vw, 32px);
	margin: 0;
	text-transform: none;
}

.calculator_total_link {
	font-size: clamp(16px, 3.5vw, 18px);
	color: var(--second-primary-color);
	transition: color 0.3s ease;
}

.calculator_total_details {
	position: relative;
	display: inline-block;
	height: 25px;
}

.calculator_total_details::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 1px;
	bottom: 0;
	background: var(--second-primary-color);
}

.calculator_total_link::before {
	content: '»';
	margin: 0 5px 0 0;
}

.calculator_total_link::after {
	content: '«';
	margin: 0 0 0 5px;
}

.calculator_total_link::before,
.calculator_total_link::after {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 24px;
	color: var(--color-primary);
}

/*Второе модальное окно */

.dialog_calculator {
	padding: 0;
}

.modal_content_calculator {
	max-height: 500px;
	overflow-y: auto;
	max-width: 1237px;
	width: fit-content;
	padding: 20px;
	justify-content: flex-start;
	font-size: clamp(10px, 3.2vw, 16px);
}

.modal_list {
	padding: 0 0 0 15px;
}

.modal_h5 {
	font-size: 24px;
	margin: 0 0 10px 0;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 500;
}

.modal_content_text {
	margin: 0 0 30px 0;
}

.modal_h6 {
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 10px 0;
}

/* Блок arguments */

.arguments {
	display: flex;
	padding: 3.125rem 0 0 0;
}

.arguments_header {
	margin: 3rem 0 9rem 0;
}

.arguments_items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 5rem;
	color: var(--third-primary-color);
	max-width: 1260px;
}

.argument_item {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: max-content;
	grid-template-areas:
    'number header'
    'number desc';
	gap: 0 1.5rem;
	height: 283px;
	width: 345px;
	font-family: 'Proxima Nova Bold', sans-serif;
	font-size: 16px;
}

.argument_item:nth-child(3n+1) {
	transform: translateY(-50px);
}

.argument_item:nth-child(3n+3) {
	transform: translateY(50px);
}

.argument_item_number {
	grid-area: number;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: var(--color-primary);
	border-radius: 50%;
	font-size: 18px;
	animation: pulse 2s infinite;
}

.argument_item_header {
	grid-area: header;
	position: relative;
	display: flex;
	align-items: flex-start;
	margin: 0 0 24px 0;
	font-weight: normal;
	font-size: 16px;
}

.argument_item_header::after {
	position: absolute;
	top: calc(100% + 8px);
	left: 0;
	content: '';
	width: 40px;
	height: 1px;
	background-color: var(--third-primary-color);
}

.argument_item_desc {
	grid-area: desc;
	font-family: 'Proxima Nova', sans-serif;
	color: #808080;
}

/* Блок offer_second */

.offer_second {
	padding: 0 0 3.125rem 0;
}

.offer_left_header_accent {
	color: var(--color-primary);
}

.offer_second_right_lamp {
	background-image: url('../img/offer/offer2-lamp.png');
}

.offer_second_left {
	height: 378px;
}

.offer_second_right {
	height: 545px;
}

.form_text_offer_second {
	display: block;
	margin: 0 0 1.2rem 0;
	font-size: 16px;
	text-align: left;
	color: var(--second-primary-color);
}

.initial_data {
	position: relative;
	width: 75%;
}

.offer_second .form_item_select::after {
	top: calc(50% + 15px);
}

/* Блок steps */

.steps {
	padding: 3.125rem 0;
	color: var(--second-primary-color);
	background: url('../img/steps/bg.jpg') top center;
	background-size: cover;
}

.steps_header_accent {
	color: var(--color-primary);
}

.steps_items {
	display: grid;
	grid-template-columns: repeat(4, 280px);
	gap: 50px;
	align-items: start;
	text-align: center;
	justify-items: center;
	margin: 0 auto;
}

.step_item {
	position: relative;
	display: grid;
	grid-template-rows: auto 70px auto;
	grid-template-areas:
        'icon'
        'header'
		'desc';
	justify-items: center;
	width: 100%;
}

.step_item::after {
	position: absolute;
	content: '';
	width: 32px;
	height: 21px;
	top: 20%;
	right: -15%;
	background-image: url('../img/steps/arrow-right.png');
	transition: all 0.225s ease;
}

.step_item:last-child::after {
	display: none;
}

.step_item:hover::after {
	transform: translateX(-5px);
}

.steps_item_icon {
	grid-area: icon;
	position: relative;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--color-primary);
}

.steps_item_icon::before{
	position: absolute;
	content: '';
	top: calc(50% - 55px);
	right: calc(50% - 55px);
	width: 110px;
	height: 110px;
	border: 1px solid var(--color-primary);
	border-radius: 50%;
	transition: all 0.225s ease;
}

.step_item:hover .steps_item_icon:before {
	transform: scale(1.06);
}

.steps_item_icon_1 {
	background-image: url('../img/steps/1.png');
}

.steps_item_icon_2 {
	background-image: url('../img/steps/2.png');
}

.steps_item_icon_3 {
	background-image: url('../img/steps/3.png');
}

.steps_item_icon_4 {
	background-image: url('../img/steps/4.png');
}

.steps_item_header {
	grid-area: header;
	display: flex;
	align-items: flex-end;
	padding: 0 0 15px 0;
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
	color: var(--color-primary);
	font-family: 'Proxima Nova Bold',sans-serif;
	font-weight: normal;
}

.steps_item_desc {
	grid-area: desc;
	font-size: 16px;
}

/* Блок delivery_payment */

.delivery_payment_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.delivery_payment_header {
	font-size: clamp(22px, 5vw, 48px)
}

.delivery_payment_items_header {
	font-size:clamp(18px, 5vw, 48px);
	height: clamp(50px, 18vw, 115px);
}

.delivery_payment_items {
	display: flex;
	flex-direction: column;
	gap: 25px 0;
}

.delivery_payment_item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	width: clamp(290px, 40vw, 440px);
	height: 220px;
	box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
	background-color: var(--second-primary-color);
	cursor: pointer;
	z-index: 1;
}

.delivery_payment_item::before,
.delivery_payment_item::after {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.delivery_payment_item::before {
	background: url('../img/delivery_payment/bg.jpg') top center;
	background-size: cover;
}

.delivery_payment_item::after {
	background-color: rgba(0, 0, 0, 0.5);
}

.delivery_payment_item:hover::before,
.delivery_payment_item:hover::after,
.delivery_payment_item:hover .delivery_payment_item_info {
	opacity: 1;
}

.delivery_payment_item_icon {
	position: relative;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background-color: #f3f3f3;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color 0.3s ease;
}

.delivery_payment_item:hover .delivery_payment_item_icon {
	background-color: var(--second-primary-color);
}

.delivery_item_icon_1 {
	background-image: url('../img/delivery_payment/icon1.png');
}

.delivery_item_icon_2 {
	background-image: url('../img/delivery_payment/icon2.png');
}

.delivery_item_icon_3 {
	background-image: url('../img/delivery_payment/icon3.png');
}

.payment_item_icon_4 {
	background-image: url('../img/delivery_payment/icon4.png');
}

.payment_item_icon_5 {
	background-image: url('../img/delivery_payment/icon5.png');
}

.payment_item_icon_6 {
	background-image: url('../img/delivery_payment/icon6.png');
}

.delivery_payment_item_header {
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Proxima Nova Bold',sans-serif;
	font-weight: normal;
	transition: color 0.3s ease;
}

.delivery_payment_item:hover .delivery_payment_item_header {
	color: var(--second-primary-color);
}

.delivery_payment_item_info {
	position: absolute;
	inset: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.delivery_payment_item_info::before,
.delivery_payment_item_info::after {
	position: absolute;
	content: '';
	background-color: var(--color-primary);
}

.delivery_payment_item_info::before {
	height: 10px;
	bottom: -10px;
	right: -10px;
	left: 10px;
}

.delivery_payment_item_info::after {
	width: 10px;
	right: -10px;
	top: 10px;
	bottom: -10px;
}

.delivery_payment_item_eye {
	position: absolute;
	border: 40px solid transparent;
	cursor: default;
	right: -10px;
	bottom: -10px;
	border-right-color: var(--color-primary);
	border-bottom-color: var(--color-primary);
	z-index: 1;
}

.delivery_payment_item_eye::before {
	content: '';
	position: absolute;
	width: 36px;
	height: 22px;
	background-image: url('../img/delivery_payment/eye.png');
}

.delivery_payment_item_desc {
	position: absolute;
	inset: 0;
	border: 4px solid var(--color-primary);
	color: var(--second-primary-color);
	background: url('../img/delivery_payment/bg.jpg') top center;
	transition: opacity 0.3s ease;
	opacity: 0;
}

.delivery_payment_item_desc::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.delivery_payment_item_eye:hover +.delivery_payment_item_desc{
	opacity: 1;
}

.delivery_payment_item_text {
	position: relative;
	font-size: 12px;
	padding: clamp(5px, 1vw, 25px);
}

/* Блок about_company*/

.about_company {
	position: relative;
	padding: 3.125rem 0;
	text-align: center;
}

.about_company_bg {
	position: absolute;
	width: 1920px;
	left: calc(50% - 960px);
}

.about_company_bg_lamp1 {
	position: absolute;
	right: 200px;
	top: -50px;
	width: 273px;
	height: 280px;
	background-image: url('../img/about_company/lamp1.png');
}

.about_company_bg_lamp2 {
	position: absolute;
	top: 370px;
	left: 30px;
	width: 271px;
	height: 331px;
	background-image: url('../img/about_company/lamp2.png');
}

.about_company_bg_lamp3 {
	position: absolute;
	width: 254px;
	height: 287px;
	right: 30px;
	top: 330px;
	background-image: url('../img/about_company/lamp3.png');
}

.about_company_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 2.5rem 0;
}

.about_company_img {
	width: 460px;
	height: 445px;
	background: url('../img/about_company/img.jpg') center;
	border: 10px solid #f4f4f4;
	background-size: cover;
	margin: 0 0 20px 0;
	transition: border 0.3s ease;
}

.about_company_img:hover {
	border: 10px solid var(--color-primary);
}

.about_company_desc {
	width: 550px;
	text-align: justify;
	margin: -5px 10px 0 20px;
	font-size: clamp(16px, 1.5vw, 17px);
}

.about_company_text {
	margin: 0 0 20px 0;
}

.about_company_subtitle {
	margin: 0 0 2.5rem 0;
	font-size: clamp(16px, 2vw, 24px);
	text-transform: uppercase;
	font-family: 'Proxima Nova Bold',sans-serif;
}

/* Блок statistics*/

.statistics {
	padding: 3.125rem 0;
	background: url('../img/statistics/bg.jpg') top center;
	background-size: cover;
	color: var(--second-primary-color);
}

.statistics_items {
	display: grid;
	grid-template-columns: repeat(4, 250px);
	justify-content: space-around;
}

.statistics_item {
	display: grid;
	grid-template-rows: auto;
	grid-template-areas:
        'icon'
        'pretitle'
		'number'
		'subtitle';
	justify-items: center;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Proxima Nova Bold',sans-serif;
}

.statistics_item_icon {
	grid-area: icon;
	width: 65px;
	height: 65px;
	background-repeat: no-repeat;
	background-position: center;
}

.statistics_item_icon_1 {
	background-image: url('../img/statistics/icon1.png');
}

.statistics_item_icon_2 {
	background-image: url('../img/statistics/icon2.png');
}

.statistics_item_icon_3 {
	background-image: url('../img/statistics/icon3.png');
}

.statistics_item_icon_4 {
	background-image: url('../img/statistics/icon4.png');
}

.statistics_item_pretitle {
	grid-area: pretitle;
	font-size: clamp(14px, 1.5vw, 16px);
	margin: 0 0 10px 0;
	font-family: 'Proxima Nova',sans-serif;
}

.statistics_item_number {
	grid-area: number;
	font-size: clamp(36px, 4vw, 46px);
}

.statistics_item_subtitle {
	grid-area: subtitle;
	font-size: clamp(16px, 2vw, 22px);
	line-height: 1em;
}

/* Медиазапросы к first */

@media (width <= 1535px) {
	.header_bg_lamp6 {
		display: none;
	}
}

@media (width <= 1160px) {

	.advantage_item {
		flex-basis: 33.33%;
	}

}

@media (width <= 1080px) {
	.nav_item:hover {
		background-color: #ffdc67;
	}

	.decor_line {
		display: none;
	}
}

@media (width <= 961px) {
	.header_bg_lamps {
		display: none;
	}

	.advantages_slider {
		align-items: center;
		text-align: center;
	}

	.advantage_item {
		flex-basis: 50%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		'icon'
		'text';
	}

	.advantage_icon {
		width: 100%;
		height: 70px;
		margin: 0 0 5px 0;
	}

	.advantage_desc {
		padding: 0;
		width: 100%;
	}

}

@media (width <= 900px) {
	.burger_container {
		display: flex;
		justify-content: end;
	}

	.nav_burger {
		position: relative;
		display: flex;
		justify-content: center;
		border: 1px solid var(--third-primary-color);
		border-radius: 4px;
		margin: 5px 10px;
		height: 35px;
		width: 43px;
		background-color: var(--color-primary);
		cursor: pointer;
		transition: all 0.15s linear;
	}

	.nav_burger:hover {
		background-color: #ffdc67;
	}

	.nav_burger_inner {
		position: relative;
		display: block;
		width: 25px;
		height: 3px;
		top: calc(50% - 2px);
		border-radius: 4px;
		background-color: var(--third-primary-color);
		transition: transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	.nav_burger_inner::before,
	.nav_burger_inner::after {
		position: absolute;
		content: '';
		display: block;
		width: 25px;
		height: 3px;
		border-radius: 4px;
		background-color: var(--third-primary-color);
	}

	.nav_burger_inner::before{
		top: -8px;
		transition: top 0.075s 0.12s ease, opacity 0.075s ease;
	}

	.nav_burger_inner::after{
		bottom: -8px;
		transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	.opened .nav_burger_inner {
		transform: rotate(45deg);
		transition-delay: 0.12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.opened .nav_burger_inner:before {
		top: 0;
		opacity: 0;
		transition: top 0.075s ease, opacity 0.075s 0.12s ease;
	}

	.opened .nav_burger_inner:after {
		bottom: 0;
		transform: rotate(-90deg);
		transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.nav_item_container {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		border-top: 1px solid var(--third-primary-color);
		height: 0;
		min-height: 0;
		overflow: hidden;
		transition-delay: 0s;
		transition-timing-function: linear;
		transition-property: height;
	}

	.nav_item_container.opened {
		height: auto;
		transition-duration: 0.25s;
	}

	.nav_item_position {
		flex-direction: column;
		height: 100%;
	}

	.nav_item {
		justify-content: center;
		font-size: 15px;
		height: 31px;
	}

	.nav_item:hover {
		width: clamp(72px, 70%, 200px);
	}

}

@media (width <= 800px) {
	.first_bg_video {
		display: none;
	}

	.btn_span {
		padding: 0 15px;
	}

	.product_container {
		aspect-ratio: 12/6;
	}
}

@media (width <= 650px) {
	.product_container {
		aspect-ratio: 10/5;
	}

	.advantage_item {
		min-width: 200px;
		flex-basis: 100%;
	}
}

@media (width <= 480px) {
	.header {
		min-height: 120px;
	}

	.header_container.container {
		justify-content: center;
	}

	.product_container {
		aspect-ratio: 10/7;
	}

}


/* Медиазапросы к модальному окну блок first */

@media (width <= 1535px) {

	.dialog {
		padding: 0;
	}

	.dialog::before {
		display: none;
	}

	.modal_content {
		height: clamp(390px, 57vw, 440px);
	}
}

@media (width <= 900px) {

	.modal_header {
		font-size: clamp(16px, 6vw, 28px);
	}

	.form_item_input {
		font-size: 1.5rem;
	}
}

@media (width <= 480px) {
	.modal_content {
		position: fixed;
		width: 100%;
		left: 0;
	}
}


/* Медиазапросы к offer */

@media (width <= 1120px) {

	.offer_left {
		flex-basis: 750px;
		height: clamp(169px, 21vw, 200px);
		padding: 0 84px;
	}

	.offer_left_header {
		font-size: clamp(25px, 2rem, 26px);
	}

	.offer_right {
		flex-basis: 750px;
		height: clamp(430px, 35rem, 455px);
	}

	.form_item_select {
		width: 45%;
		min-width: 170px;
	}
}

@media (width <= 1080px) {
	.offer_right_lamp {
		display: none;
	}
}

@media (width <= 961px) {
	.offer_left_header::before {
		display: none;
	}
}

@media (width <= 770px) {
	.offer_left {
		height: 65px;
		padding: 0 20px;
	}

	.offer_left_header {
		margin: 0;
		text-align: center;
		font-size: 16px;
	}

	.offer_left_text {
		display: none;
	}
}

@media (width <= 480px) {
	.form_item_select {
		width: 100%;
	}
}


/* Медиазапросы к hits */

@media (width <= 1535px) {

	.hits_bg_lamp {
		display: none;
	}
}

@media (width <= 1199px) {

	.hits_item:first-child {
		display: none;
	}
}

@media (width <= 1190px) {

	.filter {
		text-align: center;
	}
}

@media (width <= 1130px) {
	.hits_incandescent, .hits_halogen {
		grid-template-columns: repeat(4, minmax(200px, 300px));
	}
}

@media (width <= 910px) {
	.hits_incandescent, .hits_halogen {
		grid-template-columns: repeat(2, minmax(200px, 300px));
	}

	.hits_item:nth-child(4) {
		overflow: hidden;
	}

	.btn_span_hits {
		padding: 0 30px;
	}

}

@media (width <= 770px) {
	.hits_header::before {
		display: none;
	}

	.section_header::before {
		display: none;
	}
}

@media (width <= 480px) {

	.hits_incandescent, .hits_halogen {
		grid-template-columns: repeat(1, minmax(200px, 300px));
	}
}


/* Медиазапросы к calculator */

@media (width <= 1660px) {
	.calculator_lamp_ordinary,
	.calculator_lamp_ordinary::after {
		background-position-y: -2vw;
	}
}

@media (width <= 1300px) {
	.calculator_lamp_ordinary,
	.calculator_lamp_ordinary::after {
		background-position-y: -2.6vw;
	}
}

@media (width <= 1040px) {
	.calculator_lamp_ordinary,
	.calculator_lamp_ordinary::after {
		background-position-y: -3.5vw;
	}
}

@media (width <= 799px) {
	.calculator_lamp_ordinary,
	.calculator_lamp_ordinary::after {
		background-position-y: -4vw;
	}
}

@media (width <= 700px) {
	.calculator_start_item {
		width: 100%;
		flex-basis: initial;
	}
}

@media (width <= 600px) {
	.header_calculator {
		font-size: clamp(13px, 4vw, 23px);
	}

	.calculator_item_header {
		margin: 0;
		height: 66px;
	}

	.items_header::before {
		display: none;
	}

}


/* Медиазапросы к arguments */

@media (width <= 1200px) {

	.arguments_header {
		margin: 2.5rem 0;
	}

	.arguments_items {
		gap: 3rem 1rem;
	}

	.argument_item {
		height: auto;
	}

	.argument_item:nth-child(3n+1) {
		transform: translateY(0);
	}

	.argument_item:nth-child(3n+3) {
		transform: translateY(0);
	}
}

@media (width <= 1100px) {

	.arguments_items {
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}
}

@media (width <= 730px) {
	.arguments_items {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}

}

@media (width <= 400px) {
	.argument_item {
		width: 300px;
	}
}

/* Медиазапросы к offer_second */

@media (width <= 1200px) {
	.offer_second {
		padding: 3.125rem 0;
	}
}

@media (width <= 1120px) {
	.initial_data {
		display: flex;
		justify-content: space-between;
	}
}

@media (width <= 770px) {
	.offer_second_left {
		height: 84px;
	}
}

@media (width <= 490px) {
	.initial_data {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 75%;
	}
}

/* Медиазапросы к steps */

@media (width <= 1280px) {
	.steps_items {
		gap: 0;
	}

	.step_item::after {
		right: -5%;
	}
}

@media (width <= 1140px) {
	.steps_items {
		grid-template-columns: repeat(2, clamp(250px, 4vw, 260px));
		grid-template-rows: repeat(2, 275px);
		gap: 0 100px;
	}

	.step_item::after {
		right: -27%;
	}

	.step_item:nth-child(2)::after {
		display: none;
	}
}

@media (width <= 670px) {
	.steps_items {
		gap: 0;
	}

	.step_item::after {
		right: -5%;
	}
}

@media (width <= 520px) {
	.steps_items {
		grid-template-columns: repeat(1, 300px);
		grid-template-rows: repeat(4, 227px);
		gap: 20px 0;
	}

	.step_item::after {
		display: none;
	}
}

/* Медиазапросы к delivery_payment */

@media (width <= 960px) {
	.delivery_payment_container {
		justify-content: center;
		gap: 0 15px;
	}

	.delivery_payment_item {
		height: 240px;
	}
}

@media (width <= 770px) {
	.delivery_payment_header {
		margin: 3rem 0;
	}
}

@media (width <= 600px) {
	.delivery_payment_items_header {
		margin: 0;
	}
}

/* Медиазапросы к about_company */

@media (width <= 1080px) {

	.about_company_header {
		margin: 0 0 20px 0;
	}

	.about_company_header:before {
		display: none;
	}

	.about_company_img {
		height: 400px;
		background-position: center 63%;
	}

	.about_company_desc {
		width: 700px;
		margin: 0;
	}
}

@media (width <= 760px) {

	.about_company_desc {
		width: 100%;
		padding: 0 10px;
	}
}

@media (width <= 500px) {

	.about_company_img {
		display: none;
	}
}

/* Медиазапросы к statistics */

@media (width <= 1060px) {
	.statistics_items {
		grid-template-columns: repeat(2, 250px);
		grid-template-rows: repeat(2, auto);
		justify-content: center;
		gap: 25px;
	}
}

@media (width <= 540px) {
	.statistics_items {
		grid-template-columns: repeat(1, 250px);
		grid-template-rows: repeat(4, auto);
		justify-content: center;
	}
}

/* Анимации */

@keyframes lamp6pendulum {
	0% {
		transform: rotate(14deg) translateX(-120px);
	}

	50% {
		transform: rotate(-14deg) translateX(120px);
	}

	100% {
		transform: rotate(14deg) translateX(-120px);
	}
}

@keyframes flicker {
	from { opacity: 0.9; }
	to { opacity: 1; }
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 197, 1, 0.4);
	}

	70% {
		box-shadow: 0 0 0 15px rgba(255, 197, 1, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 197, 1, 0);
	}
}